{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Layoffs Visualization (Power BI)</h2>
    <iframe title="Power BI Report" width="2140" height="600" src="<iframe title="layoff" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=ca074720-d61c-4113-9717-36633c50e819&autoAuth=true&ctid=e14e73eb-5251-4388-8d67-8f9f2e2d5a46" frameborder="0" allowFullScreen="true"></iframe>"frameborder="0" allowFullScreen="true"></iframe>
    <a href="/" class="btn">Back to Prediction</a>
</div>
{% endblock %}
